<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />


</head>
<body>

    <div class="container my-4">
        @RenderBody()
    </div>

    <div id="general-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>





    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script>
        let settings = { validClass: "is-valid", errorClass: "is-invalid" };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;
    </script>

    @await RenderSectionAsync("scripts", false)

</body>
</html>
