@model UpdatePasswordDto

<form id="change-password-form" method="post" asp-action="ChangePassword" asp-controller="Account">

    <input asp-for="ApplicationUserId" hidden />

    <div class="row mb-3">
        <div class="col">
            <label asp-for="CurrentPassword" class="form-label"></label>
            <input asp-for="CurrentPassword" class="form-control form-control-lg">
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control form-control-lg">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="ConfirmNewPassword" class="form-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control form-control-lg">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="submit" class="btn btn-outline-success" />
        </div>
    </div>



</form>

