@model LoginDto 
@{
    ViewData["Title"] = "Login";
}


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" class="form-control form-control-lg">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control form-control-lg">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="submit" class="btn btn-outline-success" />
        </div>
    </div>



</form>
