@model CreateApplicationUserDto
@{
    ViewData["Title"] = "CreateUser";
}


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" class="form-control form-control-lg">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control form-control-lg">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control form-control-lg">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control form-control-lg">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control form-control-lg">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control form-control-lg">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control form-control-lg">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <input type="submit" class="btn btn-outline-success" />
        </div>
    </div>



</form>

